<div class="col-lg-4">
  <div class="widget search-box">
    <form action="/search.html" method="get">
      <i class="ti-search"></i>
      <input type="search" id="search-box" class="form-control border-0 pl-5" name="query" placeholder="Search">
    </form>
  </div>
  <div class="widget">
    <h6 class="mb-4">LATEST POST</h6>
    {% for post in site.posts limit:3 %}
    <div class="media mb-4">
      <div class="post-thumb-sm mr-3">
        <img class="img-fluid" src="{{post.image | relative_url }}" alt="{{ post.title }}">
      </div>
      <div class="media-body">
        <ul class="list-inline d-flex justify-content-between mb-2">
          <li class="list-inline-item">Post By {{site.author.name | split: ' ' | first}}</li>
          <li class="list-inline-item">{{post.date | date: "%B %-d, %Y"}}</li>
        </ul>
        <h6><a class="text-dark" href="{{ post.url }}">{{ post.title }}</a></h6>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="widget">
    <h6 class="mb-4">CATEGORIES</h6>
    <ul class="list-inline tag-list">
      {% for category in site.categories %}
      <li class="list-inline-item m-1"><a href="{{ 'category/' | relative_url }}{{ category | first | slugify }}">{{ category | first }}</a></li>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>